* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22rem;
    padding-top: 2vh;
    padding-bottom: 6vh;
}

.navigation>a {
    text-decoration: none;
    color: #6d48e5;
    font-weight: 550;
}

.navigation>nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation>nav>a {
    text-decoration: none;
    color: #364655;
    font-size: 15px;
}

.navigation>nav>button {
    background-color: #6d48e5;
    color: white;
    border: none;
    border-radius: 3px;
    width: 4.5rem;
    height: 1.9rem;
    font-size: 14px;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    gap: 2rem;
}

.first-section>p {
    color: rgb(168, 171, 173);
}

.first-section>button {
    border: none;
    background-color: #6c47e6;
    color: white;
    border-radius: 5px;
    padding: 2vh 3vw;

}

.second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    gap: 3rem;
}

.third-section {
    margin-top: 2vh;
    padding: 10vh 2vw;
    background-color: rgba(128, 128, 128, 0.301);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-div>p,
.icons>div>p {
    width: 60%;
    color: #818198;
    font-size: 16px;
    text-align: center;



}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3vh;

}

.icons>div {

    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}



.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    gap: 20px;
}

.cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.parag{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    width: 20rem;
    gap: 20px;
}




.cnt2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.parag{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    width: 20rem;
    gap: 20px;
    padding-right: 5rem;
}


/* ~section five */
.parent{
    padding: 8vh;
    background-color: #6D48E5;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  gap: 2vh;
}
.s-container {
    display: flex;
    gap: 10vw;
    font-family: Arial, Helvetica, sans-serif;
}
.childrens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

}
.childrens >h1{
font-size: 50px;
}
.last-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section{
    display: flex;
    flex-direction: column;
}

.first{
    display: flex;
    align-items: center;
}

.parag1{
    display: flex;
    flex-direction: column;
}

.before-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-color: #d5d5f5e1;
    padding: 2vh 0;
}
.before-footer >p {
    color: #808080a2;
}
.before-footer >h2 {
width: 50%;
font-size: 30px;
text-align: center;
}
.before-footer > input{
    border: 2px solid #6c47e6;
    border-radius: 5px ;
    padding: 3vh 8vw;
}
.before-footer > button {
    background-color: #6c47e6;
    color: #ffff;
    border: 2px solid #f9f7ff;
    border-radius: 5px ;
    padding: 2vh 9vw;
    font-size: x-large;

}
footer{
   padding: 10vh 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #818198;
    background-color:#d5d5f5e1;
}
footer > h2{
    color: #6c47e6;
}
.nav-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.nav-footer > a {
    text-decoration: none;
    font-weight: bold;
    color:#808080a2;
}


#menu,
label {
    display: none;
}

.close,
.open {
    display: none;
}


@media (max-width:480px){
    .label,
    .close {
        display: block;
    }

    .f-navbar>nav>label {
        display: block;
    }

    .open {
        display: block;
    }

    .f-navbar>nav>a {
        color: #ffffff;
        font-size: 18px;
    }

    .f-navbar>nav>button {
        width: 5.5rem;
        height: 2.2rem;
        font-size: 18px;
    }

    #menu {
        display: none;
    }

    #menu:checked~nav {
        right: 0;
    }

    nav {
        background-color: #353535;
        position: fixed;
        width: 85%;
        height: 100vh;
        right: -200%;
        top: 0;
        transition: 0.5s;
        flex-direction: column;
        align-items: start;
        gap: 5vh !important;
        padding: 5vw !important;
    }

    #menu:checked~.close {
        display: block;
    }

    .close {
        align-self: end;
    }

    .first-section{
        flex-direction: column !important;
    }

    .first-section>img{
          width: 20rem;
          height: 10rem;
    }

    .first-section>h1{
        font-size: 1.3rem;
    }
    
    .first-section>p{
        text-align: center;
        width: 20rem;
    }

    .first-section>button{
        padding: 1vh 2vw;

    }

    .second-section{
        flex-direction: column;
    }

    .third-section{
        text-align: center;
        flex-direction: column;
        margin-top: 0;
    }

    .icons{
        display: flex;
        flex-direction: column;
    }

    .fourth-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        
    }
    
    .title{
        justify-content: center;
        align-items: center;
        width: 20rem;
    }

    .title>h1{
        width: 25rem;
    }

    .title>p{
        width: 25rem;
        padding: 15px;
    }

    .cnt{
        flex-direction: column;
    }

    .cnt>img{
        width: 25rem;
        height: 15rem;
    }

    .cnt2{
        flex-direction: column;
        padding: 1.5rem;
    }

    .cnt2>img{
        width: 25rem;
        height: 15rem;
    }

    .parent>h2:nth-child(1){
        align-items: center;
        justify-content: center;
        width: 27rem;

    }

    .p{
        text-align: center;
        justify-content: center;
        width: 20rem;
        
    }
    .s-container{
        flex-direction: column;
    }


    .last-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
    }

    .first{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first>.parag1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .last-section>img{
        width: 25rem;
        height: 15rem;
    }

    footer{
        flex-direction: column;
    }

}
